<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">
            <h1>Formulario de recolección de información</h1>
        </div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Datos básicos requeridos">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Información Básica</ng-template>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="pr-1 pb-1">
                            <mat-form-field class="full-width">
                                <mat-label>Cédula</mat-label>
                                <input matInput name="username" formControlName="username" placeholder="Número de cédula del encuestado " value="">
                            </mat-form-field>
                            <small *ngIf="firstFormGroup.controls['username'].hasError('minlength') && firstFormGroup.controls['username'].touched" class="form-error-msg"> El número de cédula requiere al menos {{firstFormGroup.controls['username'].errors.minlength.requiredLength}} dígitos </small>
                            <small *ngIf="firstFormGroup.controls['username'].hasError('maxlength') && firstFormGroup.controls['username'].touched" class="form-error-msg"> El número de cédula no puede contener más de {{firstFormGroup.controls['username'].errors.maxlength.requiredLength}} dígito </small>
                            <small *ngIf="firstFormGroup.controls['username'].hasError('required') && firstFormGroup.controls['username'].touched" class="form-error-msg"> Número de cédula Requerido </small>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1 pb-1"></div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <mat-form-field class="full-width">
                                <mat-label>Nombres</mat-label>
                                <input matInput name="firstname" formControlName="firstname" placeholder="Nombres del encuestado" value="">
                            </mat-form-field>
                            <small *ngIf="firstFormGroup.controls['firstname'].hasError('required') && firstFormGroup.controls['firstname'].touched" class="form-error-msg"> Nombres Requeridos </small>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <mat-form-field class="full-width">
                                <mat-label>Apellidos</mat-label>
                                <input matInput name="lastname" formControlName="lastname" placeholder="Apellidos del encuestado" value="">
                            </mat-form-field>
                            <small *ngIf="firstFormGroup.controls['lastname'].hasError('required') && firstFormGroup.controls['lastname'].touched" class="form-error-msg"> Apellidos requeridos </small>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <mat-form-field class="full-width">
                                <mat-label>Edad</mat-label>
                                <input matInput name="age" formControlName="age" placeholder="Edad del encuestado" value="">
                            </mat-form-field>
                            <small *ngIf="firstFormGroup.controls['age'].hasError('minlength') && firstFormGroup.controls['age'].touched" class="form-error-msg"> La edad requiere al menos {{firstFormGroup.controls['age'].errors.minlength.requiredLength}} dígitos </small>
                            <small *ngIf="firstFormGroup.controls['age'].hasError('maxlength') && firstFormGroup.controls['age'].touched" class="form-error-msg"> La edad no puede contener más de {{firstFormGroup.controls['age'].errors.maxlength.requiredLength}} dígito </small>
                            <small *ngIf="firstFormGroup.controls['age'].hasError('required') && firstFormGroup.controls['age'].touched" class="form-error-msg"> Edad Requerida </small>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pt-3 pr-1 pb-1 mt-3">
                            <mat-label>Genero*</mat-label>
                            <mat-radio-group name="gender" formControlName="gender">
                                <span>&nbsp;  &nbsp; <mat-radio-button value="male">Masculino</mat-radio-button> </span>
                                <span>&nbsp;  &nbsp; <mat-radio-button value="female">Femenino</mat-radio-button></span>
                            </mat-radio-group>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <mat-form-field class="full-width">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" name="email" formControlName="email" placeholder="Correo Electrónico" value="">
                            </mat-form-field>
                            <small *ngIf="firstFormGroup.controls['email'].hasError('required') && firstFormGroup.controls['email'].touched" class="form-error-msg">Correo electrónico es requerido </small>
                            <small *ngIf="firstFormGroup.controls['email'].hasError('email') && firstFormGroup.controls['email'].touched" class="form-error-msg"> Dirección de correo electrónico invalida </small>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <mat-form-field class="full-width">
                                <mat-label>Celular</mat-label>
                                <input matInput name="phone" formControlName="phone" placeholder="Número de teléfono">
                            </mat-form-field>
                            <small *ngIf="firstFormGroup.controls['phone'].hasError('minlength') && firstFormGroup.controls['phone'].touched" class="form-error-msg"> El número de teléfono requiere al menos {{firstFormGroup.controls['phone'].errors.minlength.requiredLength}} dígitos </small>
                            <small *ngIf="firstFormGroup.controls['phone'].hasError('maxlength') && firstFormGroup.controls['phone'].touched" class="form-error-msg"> El número de teléfono no puede contener más de {{firstFormGroup.controls['phone'].errors.maxlength.requiredLength}} dígito </small>
                            <small *ngIf="firstFormGroup.controls['phone'].hasError('required') && firstFormGroup.controls['phone'].touched" class="form-error-msg"> Número de teléfono Requerido </small>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pt-2 pb-3 pl-1">
                            <mat-checkbox name="agreed" formControlName="agreed" class="pb-1">Acepta recibir información sobre nuestra plataforma política.</mat-checkbox>
                            <small *ngIf="firstFormGroup.controls['agreed'].hasError('agreed') && firstFormGroup.controls['agreed'].touched" class="form-error-msg"> </small>
                        </div>

                    </div>
                    <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" errorMessage="Dirección requerida.">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Dirección de Residencia </ng-template>
                    <div fxLayout="row wrap" class="form-group">

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <label>Departamento</label>
                            <select [(ngModel)]="selectedState.name" (change)="onSelect($event.target.value)">
                                <option *ngFor="let state of states" value={{state.id}}>
                                    {{state.name}}
                                </option>
                            </select>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <label>Ciudad</label>
                            <select>
                                <option *ngFor="let city of cities" value={{city.id}}>
                                    {{city.name}}
                                </option>
                            </select>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 pb-1">
                            <mat-form-field appearance="fill">
                                <mat-label>Select an option</mat-label>
                                <mat-select disableRipple>
                                    <mat-option value="1">Option 1</mat-option>
                                    <mat-option value="2">Option 2</mat-option>
                                    <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button matStepperPrevious>Anterior</button>
                            <button mat-raised-button color="primary" matStepperNext [disabled]="secondFormGroup.invalid">Siguiente</button>
                        </div>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup" errorMessage="Orientación de voto requerida.">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Orientación de Voto </ng-template>
                    <p>Orientación de Voto</p>
                    <div>
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button mat-raised-button color="primary" matStepperNext [disabled]="secondFormGroup.invalid">Enviar</button>
                    </div>
                </form>
            </mat-step>

        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>